<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("79cdb927-fbe3-421f-a169-34ef5b7e21a7");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
